* {
    -bg-color : transparent;
    -font-color : white;
    -text-field-prompt-text : lightgrey;
    -text-field-border-color : grey;
    -icon-color : -font-color;
}

Label
{
    -fx-text-fill : -font-color ;
}

.dashboard{
    -fx-background-image: url("bg.JPG");
    -fx-background-repeat:stretch;
    -fx-background-size:  100%  100%;
    -fx-background-position: bottom ;
}

.action_box
{
	-fx-effect: dropshadow( three-pass-box , rgb(129, 1, 1) , 20,0.2,0,0);

}

.dashboard_settings_button
{
	-fx-background-color:darkred;
}

.root {
    -fx-focus-color: -fx-accent;
    -fx-base: -bg-color;
    -fx-background-color: darkred;
    -fx-text-fill: -font-color ;
}

.ikonli-font-icon
{
    -fx-icon-color: -icon-color;
}

.settings_base, .settings_base_vbox, .settings_button_bar{
    -fx-background-color :  darkred;
}


.settings_base_scroll_pane {
    -fx-background: darkred;
    -fx-border-color: darkred;
}


.text-field
{
    -fx-text-fill: -font-color ;
    -fx-prompt-text-fill: -text-field-prompt-text;
    -fx-background-color : darkred;
    -fx-border-width : 0 0 1 0;
    -fx-border-color: -text-field-prompt-text;
}



.alert_pane
{
    -fx-background-color : darkred;
    -fx-border-color : darkred;
}

.alert_content_pane
{
    -fx-background-color: darkred;
    -fx-padding: 5;
}

.alert_scroll_pane
{
    -fx-background:  darkred;
    -fx-border-color: darkred;
}

.alert_button_bar
{
    -fx-background-color: darkred;
}

.combo_box
{
    -fx-alignment:CENTER_LEFT;
    -fx-pref-width:200;
    -fx-padding: 5;
    -fx-border-width : 1;
    -fx-border-color : darkred;
    -fx-border-radius : 3;
}

.combo_box_popup
{
    -fx-background: darkred;
    -fx-border-color: darkred;
}

.combo_box_popup_vbox
{
    -fx-background-color: darkred;
}
